{% extends 'base.html' %}

{% block content %}


<div class="container content">
    <div class="title-box">
        <div class="title-box-text">Feature Ping</div>
    </div>

    <br>

    <p align="right">
        <a href="/ping/add/" class="btn btn-u">
          <span class="glyphicon glyphicon-plus"></span> New ping
        </a>
    </p>

    <div class="margin-bottom-40">

		<div class="panel panel-green margin-bottom-40">
		    <div class="panel-heading">
		        <h3 class="panel-title"><i class="fa fa-tasks"></i> Ping</h3>
		    </div>

		    <div class="panel-body">
		        <p>
		        Ping uses the ICMP protocol's mandatory ECHO_REQUEST datagram to elicit an ICMP ECHO_RESPONSE from a host or gateway. ECHO_REQUEST datagrams (``pings'') have an IP and ICMP header, followed by a struct timeval and then an arbitrary number of ``pad'' bytes used to fill out the packet.
		        </p>
		    </div>

		    <table class="table" id="default-table">
		        <thead>
		            <tr>
		                <th>#</th>
		                <th>Name</th>
		                <th>Origin IP</th>
		                <th>Destination IP</th>
		                <th>Interval</th>
		                <th>Packet Number </th>
		                <th>Made by user</th>
                    	<th>Result</th>
		                <th>Options</th>
		            </tr>
		        </thead>
		        <tbody>
		        	{%  for ping in pings %}
		                <tr>
		                    <td>{{ ping.id }}</td>
		                    <td>{{ ping.name }}</td>
		                    <td>{{ ping.ipOrigin }}</td>
		                    <td>{{ ping.ipDestination }}</td>
		                    <td>{{ ping.interval }}</td>
		                    <td>{{ ping.packetNumber }}</td>
							<td>{{ ping.setByUser }}</td>
							<td>Pass or fail</td>
							<td>
								<i class="fa fa-edit"></i>
								 &nbsp;&nbsp;
								<a onclick="addProduct('{{ping.id}}');" data-toggle="modal" data-target="#modalAddProduct">
									<i class="fa fa-plus"></i>
								</a>
								&nbsp;&nbsp;
								<a href="#" onclick="deletePing('{{ping.id}}');" ><i class="fa fa-trash-o"></i></a>
							</td>
		                </tr>
		            {% endfor %}
		        </tbody>
		    </table>
	    </div>
    </div>
</div>


<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Success
        </h4>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAddProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Add ping test into a product
        </h4>
      </div>
      <div class="modal-body">
      		<form action="" class="sky-form">

				<fieldset>
					<section>
		                <label class="select">
		                    <select id="product">
		                        <option selected disabled>Select a product</option>
		                        {% for product in products %}
		                        	<option value="{{ product.id }}">{{ product.name }}</option>
		                        {% endfor %}
		                    </select>
		                    <i></i>
		                </label>
		            </section>

					<section>
		                <label class="select">
		                    <select id="result">
		                        <option selected disabled>Select a result</option>
		                        	<option value="0">Approved into the test</option>
		                        	<option value="1">Failed into the test</option>
		                    </select>
		                    <i></i>
		                </label>
		            </section>

	        	</fieldset>

                <footer>
					<a href="" class="btn-u btn-u-default" data-dismiss="modal">back</a>
					<a href="" class="btn-u" id="AddProduct">Submit</a>
                </footer>

	        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

	// Must be call the modal to add a product
	function addProduct(ping)
	{
		$('#modalAddProduct').modal();

		$("#AddProduct").click(function()
		{
			var product = $("#product option:selected").val();
			var result = $("#result option:selected").val();

			if (product != "Select a product")
			{
				if (result != "Select a result")
				{
					$.get( "/ping/addProduct/" + ping + "/" + product + "/" + result + "/", function() {
						// put sucess message here
					})

					.fail(function() {
						// put error message here
					})
				}
			}
		});
	}

	// Must be delete a ping of the system
	function deletePing(ping) {
		$.get( "/ping/delete/" + ping + "/", function(data){

			$("#default-table tbody").empty();

	            $.each(data, function(i, item) {

					$("#default-table tbody").append
					(
						'<tr>' +
						'<td>' + item.pk + '</td>' +
						'<td>' + item.fields.name + '</td>' +
						'<td>' + item.fields.ipOrigin + '</td>' +
						'<td>' + item.fields.ipDestination + '</td>' +
						'<td>' + item.fields.interval + '</td>' +
						'<td>' + item.fields.packetNumber + '</td>' +
						'<td>' + item.fields.setByUser + '</td>' +
						'<td>Pass or fail</td>' +
						'<td>' +
							'<i class="fa fa-edit"></i>' +
							 '&nbsp;&nbsp;' +
							 '<a href="#" onclick="addProduct('+ item.pk + ');" ><i class="fa fa-plus"></i></a>' +
							 '&nbsp;&nbsp;' +
							'<a href="#" onclick="deletePing('+ item.pk + ');" ><i class="fa fa-trash-o"></i></a>' +
						'</td>' +
						'</tr>'
					)
            });
		});
	}
</script>


{% endblock content %}
