{% load ping_tags %}

<div class="panel-group acc-v1" id="accordion-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#ping">
        Ping test
      </a>
      </h4>
    </div>
    <div id="ping" class="panel-collapse collapse in" style="height: auto;">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped" id="ping-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Origin IP</th>
                  <th>Destination IP</th>
                  <th>Interval</th>
                  <th>Packet Number </th>
                  <th>Made by user</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {%  for ping in pings.all %}
                <tr>
                  <td>{{ ping.ping.name | checkBlank }}</td>
                  <td>{{ ping.ping.ipOrigin | checkBlank }}</td>
                  <td>{{ ping.ping.ipDestination | checkBlank }}</td>
                  <td>{{ ping.ping.interval | checkBlank }}</td>
                  <td>{{ ping.ping.packetNumber | checkBlank}}</td>
                  <td>{{ ping.ping.setByUser | checkBlank }}</td>
                  <td>
                    <a href="#" onclick="deletePing('{{ping.id}}');" ><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  // Must be returned ' ' if the string as parameter is null
  function checkBlank(string){

    if (string == null){
      return '';
    }

    return string;

  }

  // Must be delete a ping of the system
  function deletePing(ping) {
    var product = '{{product.id}}';

    $.get( "/ping/deleteProduct/" + ping + "/" + product + "/", function(data){

      $("#ping-table tbody").empty();

        $.each(data, function(i, item) {
          console.log(data);
          $("#ping-table tbody").append
          (
            '<tr>' +
              '<td>' + item.fields.name + '</td>' +
              '<td>' + item.fields.ipOrigin + '</td>' +
              '<td>' + checkBlank(item.fields.ipDestination) + '</td>' +
              '<td>' + checkBlank(item.fields.interval) + '</td>' +
              '<td>' + checkBlank(item.fields.packetNumber) + '</td>' +
              '<td>' + checkBlank(item.fields.setByUser) + '</td>' +
              '<td>' +
                '<a href="#" onclick="deletePing('+ item.pk + ');" ><i class="fa fa-trash-o"></i></a>' +
              '</td>' +
            '</tr>'
          )
        });
    });
  }

</script>