{% extends 'base.html' %}
{% block content %}
    <div class="container content">

        <div class="headline">
            <h2>List of products</h2>
        </div>

        <p align="right">
            <button class="btn btn-u" data-toggle="modal" data-target="#addProduct">
              <span class="glyphicon glyphicon-plus"></span> New product
            </button>
        </p>


        <table class="table table-bordered table-striped" id="default-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Site</th>
                    <th>Product Type</th>
                    <th>Access Method</th>
                    <th>Default on system</th>
                    <th>Tests available</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {%  for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.site }}</td>
                    <td>{{ product.typeProduct }}</td>
                    <td>{{ product.accessMethod }}</td>
                    {% if product.default == False %}
                        <td><span class="label label-warning">No</span></td>
                    {% else %}
                        <td><span class="label label-success">Yes</span></td>
                    {% endif %}
                    <td><a href="/product/showTest/{{ product.id }}/" class="btn btn-success btn-xs">Show</a></td>
                    <td>
                        <a href="/product/edit/{{product.id}}/"><i class="fa fa-edit"></i></a>
                         &nbsp;&nbsp;
                        <a href="/product/delete/{{product.id}}/"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4 col-md-offset-5" >
            <div class="pagination">
                 <ul class="pager">
                    {% if products.has_previous %}
                        <li><a href="?page={{ products.previous_page_number }}">Previous</a></li>
                    {% else %}
                      <li><a href="" class="btn disabled" >Previous</a></li>
                    {% endif %}
                    {% if products.has_next %}
                        <li><a href="?page={{ products.next_page_number }}">Next</a></li>
                    {% else %}
                      <li><a href="" class="btn disabled" >Next</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Add new product
        </h4>
      </div>
      <div class="modal-body">
        <form action="." method="POST" class="sky-form">
            {% csrf_token %}
                <fieldset>
                    <section>
                        <label class="input">
                            <label class="input" for="{{ form.name.id_for_label }}">
                                <input type="text" name="{{form.name.name}}" placeholder="{{form.name.label}}">
                            </label>
                        </label>

                        <div class="note note-error">
                            {{ form.name.errors | striptags }}
                        </div>
                    </section>

                    <section>
                        <label class="input">
                            <label class="input" for="{{ form.site.id_for_label }}">
                                <input type="text" name="{{form.site.name}}" placeholder="{{form.site.label}}">
                            </label>
                        </label>
                        <div class="note note-error">
                            {{ form.site.errors | striptags }}
                        </div>
                    </section>

                    <section>
                        <label class="select" for="{{ form.typeProduct.id_for_label }}">
                            {{ form.typeProduct }}
                            <i></i>
                        </label>
                    </section>

                    <section>
                        <label class="select" for="{{ form.accessMethod.id_for_label }}">
                            {{ form.accessMethod }}
                            <i></i>
                        </label>
                    </section>

                    <section>
                        <label class="select select-multiple" for="{{ form.test.id_for_label }}">
                            {{ form.test }}
                            <i></i>
                        </label>
                    </section>

                </fieldset>

                <footer>
                    <button type="submit" class="btn-u">Submit</button>
                    <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
                </footer>
            </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}