{% extends 'base.html' %}

{% block content %}


	<div class="container content">
        <div class="title-box">
            <div class="title-box-text">Jiga de teste para o switch x</div>
            <br>
            <a href="/testBoard/" class="btn btn-u" type="button">START TEST</a>
        </div>
        <br><br>
        <div class="margin-bottom-40">
                    <div class="row pie-progress-charts margin-bottom-60">
                        <div class="inner-pchart col-md-3">
                            <div class="circle" id="circles-1"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#D3B6C6" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 69.90416038427307 1.0000665596839582 Z"></path><path fill="transparent" stroke="#9B6BCC" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 52.91551060221645 136.8514788319377 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">100</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div> 
                        <div class="inner-pchart col-md-3">
                            <div class="circle" id="circles-2"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#C9FF97" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 69.90416038427307 1.0000665596839582 Z"></path><path fill="transparent" stroke="#72c02c" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 19.730006348347004 117.26444475779607 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">63</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div>
                        <div class="inner-pchart col-md-3">
                            <div class="circle" id="circles-3"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#BEE3F7" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 69.90416038427307 1.0000665596839582 Z"></path><path fill="transparent" stroke="#3498DB" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 2.2364051601486494 83.00366157589708 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">72</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div>
                        <div class="inner-pchart col-md-3">
                            <div class="circle" id="circles-4"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#FFC2BB" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 69.90416038427307 1.0000665596839582 Z"></path><path fill="transparent" stroke="#E74C3C" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 5.8306052500026055 44.636861838112495 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">81</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div>
                    </div>    
        </div>

		<div class="row" align="center">
            <div class="col-md-12">
            {{status}}
            </div>
        </div>
    </div>


{% endblock content %}