{% extends 'base.html' %}

{% block content %}

<div class="container content">
    <div class="title-box">
        <div class="title-box-text">{{ product }}</div>
        <p>
            The default product is <i>{{ product }}</i>
        </p>
    </div>

    <br>

    <div class="margin-bottom-40" align="center">
        <div id="startTest">
            <a href="#" onclick="startTest();" class="bnt btn-u">START TEST</a>
        </div>
    </div>


    <div class="row" align="center">
        <div class="col-md-12">
            <div id="message"></div>
            <div id="loading"></div>
            <div id="inprogress" style="display: none">

                <div class="panel panel-green margin-bottom-40">
                    <div class="panel-heading">
                        <h3 align="left" class="panel-title"><i class="fa fa-tasks"></i>Ping</h3>
                    </div>

                    <table class="table" id="tableTest">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Test</th>
                                <th>Waiting</th>
                            </tr>
                        </thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

function startTest()
{
    $("#startTest").empty();

    window.setInterval(function() {
            $.get( "/core/testStatus/", function( data ) {
                if (data.message != undefined)
                {
                    if (data.message == 'Board found')
                    {
                        $( "#message" ).empty();
                        $( "#loading" ).empty();
                        $( "#inprogress" ).show();

                        $.get( "/product/getTest/{{product.id}}", function( dataTable ) {

                            $( "#tableTest tbody" ).empty();

                            $.each(dataTable, function(i, item) {
                                console.log(item);
                                $("#tableTest tbody").append
                                (
                                    '<tr>' +
                                    '<td>' + item.pk + '</td>' +
                                    '<td>' + item.fields.pingTest[1] + '</td>' +
                                    '<td> ashdasd</td>' +
                                    '</tr>'
                                )
                            });

                        });


                    }
                    else
                    {
                        $( "#message" ).empty();
                        $( "#loading" ).empty();
                        $( "#inprogress" ).empty();
                        $( "#message" ).append( "<h2> " + data.message +  "</h2>" );
                        $( "#loading" ).append( "<img src='{{STATIC_URL}}assets/img/ajax-loader.gif'>" );
                    }

                }
            });
    }, 1000);
}
</script>

{% endblock content %}