{% extends 'base.html' %}

{% block content %}

<div class="container content">
    <div class="title-box">
        <div class="title-box-text">{{ product }}</div>
        <p>
            The default product is <i>{{ product }}</i>
        </p>
    </div>

    <br>

    <div class="margin-bottom-40" align="center">
        <div id="startTest">
            <a href="#" onclick="startTest();" class="bnt btn-u">START TEST</a>
        </div>
    </div>


    <div class="row" align="center">
        <div class="col-md-12">
            <div id="message"></div>
            <div id="loading"></div>
        </div>
    </div>

</div>


<script type="text/javascript">

function startTest()
{
    $("#startTest").empty();

    window.setInterval(function() {
            $.get( "/core/testStatus/", function( data ) {

                if (data.message != undefined)
                {
                    if (data.message == 'Board found')
                    {
                        $( "#message" ).empty();
                        $( "#loading" ).empty();
                        $( "#message" ).append( "<h2>Test in progress, please wait!!!!</h2>" );
                        $( "#loading" ).append( "<img src='{{STATIC_URL}}assets/img/ajax-loader.gif'>" );
                    }
                    else
                    {
                        $( "#message" ).empty();
                        $( "#loading" ).empty();
                        $( "#message" ).append( "<h2> " + data.message +  "</h2>" );
                        $( "#loading" ).append( "<img src='{{STATIC_URL}}assets/img/ajax-loader.gif'>" );
                    }
                }
            });
    }, 1000);
}
</script>

{% endblock content %}