{% extends 'base.html' %}

{% block content %}

<div class="container content">
    <div class="title-box">
        <div class="title-box-text">{{ product }}</div>
        <p>
            The default product is <i>{{ product }}</i>
        </p>
    </div>

    <br>

    <div class="margin-bottom-40" align="center">
        <div id="checkBoard">
            <a href="#" onclick="checkBoard();" class="bnt btn-u">START TEST</a>
        </div>
    </div>


    <div class="row" align="center">
        <div class="col-md-12">
            <div id="message"></div>
            <div id="loading"></div>
        </div>
    </div>

</div>


<script type="text/javascript">

    var loop;

    function showMessageBoardFound() {
        $("#message").empty();
        $("#loading").empty();
        $("#message").append("<h2>Test in progress, please wait!!!!</h2>");
        $("#loading").append("<img src='{{STATIC_URL}}assets/img/ajax-loader.gif'>");
    }

    function showMessageBoardNotFound() {
        $("#message").empty();
        $("#loading").empty();
        $("#message").append("<h2>Searching a board ... </h2>");
        $("#loading").append("<img src='{{STATIC_URL}}assets/img/ajax-loader.gif'>");
    }

    function statusBoardRequest() {
        $.get("/core/testStatus/", function(data) {

            if (data.message != undefined) {
                if (data.message == 'BOARD_FOUND') {
                    showMessageBoardFound();
                    clearInterval(loop);
                } else {
                    showMessageBoardNotFound();
                }
            }
        });
    }

    function checkBoard() {
        $("#checkBoard").empty();

        loop = setInterval(function() {
            statusBoardRequest();
        }, 1000);
    }

</script>

{% endblock content %}